.tube-app-content{
  padding: 1rem;
  .additional-information {
      position: fixed;
      top: 0;
      right: 0; 
      width: 300px;
      height: 100%;
      background-color: $information-color;
      box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
      transition: right 1s ease-in-out;
    
      &.hidden {
        right: -100%; 
        transition: right 1s ease-in-out;
      }
  }

  .filter-icon {
    cursor: pointer;
    padding: 10px;
    background-color: $user-control-color; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    margin-bottom: 10px; 
    transition: background-color 0.3s ease;
    width: fit-content; 

    &:hover {
      background-color: #0056b3; 
    }
  }
}